*.obj

*.ipch

log.txt

*.sdf

*.exe

*.ilk

*.pdb

*.idb

*.sdf

*.dbmdl

*.jfm

*.tlog

*.dll

*.vsp

*.vspx

*.psess
*.user

*.o

exec

/**/.vs/**/*
/**/debug/**/*
/**/target/**/*
/**/release/**/*
/**/CMakeFiles/**/*
/**/learning/clearning/build/**/*